@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 900;
}

body {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: normal;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  margin: 0px auto;
  max-width: 1140px;
  width: 100%;
}
@media (max-width: 1200px) {
  .container {
    width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 716px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.white-text {
  color: white;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

a {
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
}

.hide {
  display: none;
}

li {
  list-style: none;
}

.banner-title-warapper {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: white;
}
@media (max-width: 992px) {
  .banner-title-warapper {
    font-size: 45px;
  }
}
@media (max-width: 425px) {
  .banner-title-warapper {
    font-size: 21px;
  }
}

.subtitle {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #558e0a;
}
@media (max-width: 992px) {
  .subtitle {
    font-size: 25px;
  }
}

p {
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
}
@media (max-width: 992px) {
  p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  p {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  p {
    font-size: 12px;
  }
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  background-color: #65ac09;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-top: 30px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #3e6b04;
}

.owl-theme .owl-dots .owl-dot {
  display: none;
}

.header-for-mobile-app {
  display: none;
}

.bars {
  display: none;
}

.innerpages-banner .banner {
  position: relative;
  padding: 80px 0px 80px 0px;
}
@media (max-width: 992px) {
  .innerpages-banner .banner {
    padding: 100px 0px 100px 0px;
  }
}
@media (max-width: 767px) {
  .innerpages-banner .banner {
    padding: 80px 0px 50px 0px;
  }
}
@media (max-width: 425px) {
  .innerpages-banner .banner {
    padding: 10px 0px 10px 0px;
  }
}

.bg-color {
  background-color: #558e0a;
}

.user__details .input__box .date {
  color: #837c7c;
  font-weight: 500;
}

.about_tok {
  padding-top: 60px;
}
@media (max-width: 425px) {
  .about_tok {
    padding: 10px;
  }
}
.about_tok h2 {
  margin: 30px 0px;
  text-align: left;
}
.about_tok .about_info {
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  text-align: left;
  line-height: 22px;
  padding: 10px;
}
.about_tok .bookin_touch {
  margin-top: 30px;
}
.about_tok .bookin_touch h3 {
  color: #558e0a;
  font-size: 22px;
  font-family: 400;
}
@media (max-width: 425px) {
  .about_tok .bookin_touch h3 {
    font-size: 19px;
    font-weight: 300;
  }
}
.about_tok .bookin_touch ul {
  margin-top: 30px;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
}
.about_tok .bookin_touch ul li {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-color: black;
  color: white;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
}
.about_tok .bookin_touch ul li a i {
  font-size: 25px;
  color: white;
}
.about_tok .bookin_touch ul li:hover {
  background-color: #558e0a;
}

.services_info {
  padding-top: 50px;
}
@media (max-width: 767px) {
  .services_info {
    padding: 50px 10px 10px 10px;
  }
}
.services_info h2 {
  color: #558e0a;
  font-size: 30px;
  font-weight: 200;
}
@media (max-width: 425px) {
  .services_info h2 {
    font-size: 25px;
  }
}
.services_info .bus-schedule-ser .service-content {
  font-size: 17px;
  line-height: 30px;
  padding: 30px;
}
.services_info .bus-schedule-ser .service-content ul li {
  list-style: disc;
}
.services_info .bus-schedule-ser .service-content ul li h4 {
  margin: 10px 0px;
}
@media (max-width: 425px) {
  .services_info .bus-schedule-ser .service-content ul li h4 {
    font-size: 16px;
  }
}
.services_info .bus-schedule-ser .services-img {
  width: 500px;
  height: 500px;
}

@media (max-width: 767px) {
  .services-accordion {
    padding: 10px;
  }
}
.services-accordion .accordion {
  background-color: #ccc;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  margin: 15px 0px;
}
@media (max-width: 425px) {
  .services-accordion .accordion {
    font-size: 15px;
  }
}
.services-accordion .active, .services-accordion .accordion:hover {
  background-color: #558e0a;
  color: black;
}
.services-accordion .accordion:after {
  content: "+";
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.services-accordion .active:after {
  content: "−";
  color: black;
}
.services-accordion .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  line-height: 18px;
}

.rate-chart {
  padding: 10px;
}
.rate-chart .chargecart {
  padding-top: 50px;
  overflow-x: auto;
}
.rate-chart table {
  width: 100%;
}
.rate-chart .chart_title {
  font-size: 30px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  color: #558e0a;
  text-align: center;
  margin-top: 20px;
}
.rate-chart .chargecart table {
  width: 700px;
  height: 345px;
  margin: 30px auto;
  background-color: rgb(233, 224, 224);
}
.rate-chart .chargecart table th,
.rate-chart td {
  padding: 15px;
  text-align: left;
  border: 1px solid rgb(196, 192, 192);
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 400;
  Color: #454242;
}
@media (max-width: 767px) {
  .rate-chart .chargecart table th,
.rate-chart td {
    font-size: 13px;
  }
}
.rate-chart .chargecart table tr:hover {
  background-color: #848b8b;
  color: white;
}
.rate-chart .chargecart table td:hover {
  color: white;
}

.winshoek_slider {
  padding-top: 20px;
}
.winshoek_slider .windhoek_title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 32px;
  color: #558e0a;
}
@media (max-width: 767px) {
  .winshoek_slider .windhoek_title {
    font-size: 23px;
    text-align: center;
  }
}
.winshoek_slider .windhoek-carousel {
  margin: 20px auto;
  padding: 20px;
}
.winshoek_slider .windhoek-carousel .item {
  height: 150px;
  color: white;
  text-align: center;
  border: 1px solid rgb(214, 209, 209);
  border-radius: 15px;
}
.winshoek_slider .windhoek_num {
  font-size: 30px;
  font-family: "Roboto Slab", sans-serif;
  height: 85px;
  background-image: linear-gradient(to right, #52525b, #36363b);
  line-height: 85px;
  border-radius: 15px 15px 0px 0px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .winshoek_slider .windhoek_num {
    font-size: 20px;
    text-align: center;
  }
}
.winshoek_slider .windhoek_info {
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  height: 65px;
  line-height: 75px;
  background-color: #558d0a;
  border-radius: 0px 0px 15px 15px;
  font-weight: 400;
}
.winshoek_slider .gaborone-carousel {
  margin: 20px auto;
  padding: 20px;
}
.winshoek_slider .gaborone_title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 32px;
  color: #558e0a;
}
@media (max-width: 767px) {
  .winshoek_slider .gaborone_title {
    font-size: 23px;
    text-align: center;
  }
}
.winshoek_slider .gaborone-carousel .item {
  height: 150px;
  color: white;
  text-align: center;
  border: 1px solid rgb(214, 209, 209);
  border-radius: 15px;
}

.onlinebooking {
  padding-top: 50px;
}
@media (max-width: 992px) {
  .onlinebooking {
    padding: 50px 10px 10px 10px;
  }
}
.onlinebooking form {
  padding: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  width: 70%;
  margin: 20px auto;
  background: rgba(187, 231, 160, 0.7490196078);
}
@media (max-width: 767px) {
  .onlinebooking form {
    width: 100%;
  }
}
.onlinebooking form .user__details {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 12px 0;
  flex-direction: row;
  justify-content: space-between;
}
.onlinebooking form .user__details .input__box {
  width: 50%;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .onlinebooking form .user__details .input__box {
    width: 100%;
  }
}
.onlinebooking form .user__details .input__box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  margin-left: 10px;
}
.onlinebooking form .user__details .input__box input {
  height: 40px;
  width: 90%;
  outline: none;
  padding: 0px 5px 0px 10px;
  font-size: 16px;
  border: none;
  transition: all 0.3s ease;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .onlinebooking form .user__details .input__box input {
    width: 100%;
  }
}
.onlinebooking form .gender__details .gender__title {
  font-size: 17px;
  font-weight: 500;
  margin-left: 10px;
}
.onlinebooking form .gender__details .category {
  display: flex;
  width: 80%;
  margin: 15px 0;
  justify-content: flex-start;
}
.onlinebooking form .gender__details .category label {
  display: flex;
  align-items: center;
}
.onlinebooking form .gender__details .category .dot {
  height: 18px;
  width: 18px;
  background: #4e4c4c;
  border-radius: 50%;
  margin: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
.onlinebooking form .gender__details .category .dot span {
  font-size: 13px;
}
.onlinebooking form .gender {
  font-size: 14px;
}
.onlinebooking form .button {
  height: 45px;
  margin-left: 20px;
}
.onlinebooking form .button .btn-conf {
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  background-color: black;
  transition: all 0.3s ease;
  padding: 10px 25px;
}
@media (max-width: 425px) {
  .onlinebooking form .button .btn-conf {
    padding: 13px 8px;
    font-size: 13px;
  }
}
.onlinebooking form .button .button .btn-conf :hover {
  background: rgb(63, 196, 6);
}
.onlinebooking form .button .date {
  color: #837c7c;
  font-weight: 500;
}
.onlinebooking form form .button input {
  padding: 10px 25px;
  margin-left: 20px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  background: rgb(63, 196, 6);
}
@media (max-width: 767px) {
  .onlinebooking form form .button input {
    padding: 11px 15px;
    font-size: 11px;
  }
}
.onlinebooking form form .button input:hover {
  background-color: black;
  color: white;
}
.onlinebooking ::placeholder {
  color: #837c7c;
  font-size: 13px;
}
.onlinebooking .button input {
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  background-color: #558e0a;
  transition: all 0.3s ease;
  padding: 10px 35px;
  cursor: pointer;
}
.onlinebooking .button input:hover {
  background-color: black;
}
.onlinebooking .user__details .input__box input:focus,
.onlinebooking .user__details .input__box input:valid {
  border-color: var(#9b59b6);
}
.onlinebooking #dot-1:checked ~ .category .one,
.onlinebooking #dot-2:checked ~ .category .two,
.onlinebooking #dot-3:checked ~ .category .three {
  border-color: #d9d9d9;
  background: #9b59b6;
}
.onlinebooking form input[type=radio] {
  display: none;
}
.onlinebooking .journey {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  margin-left: 0px;
}
@media (max-width: 767px) {
  .onlinebooking .journey {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .onlinebooking .onlinebooking {
    padding: 20px;
  }
  .onlinebooking .container form .user__details {
    flex-direction: column;
  }
  .onlinebooking form .user__details .input__box {
    width: 100%;
    margin-bottom: 15px;
  }
  .onlinebooking .onlinebooking form .user__details {
    display: block;
    flex-direction: column;
  }
  .onlinebooking form .gender__details .category {
    width: 100%;
  }
}

.contact-booking {
  padding-top: 50px;
}
@media (max-width: 992px) {
  .contact-booking {
    padding: 50px 10px 10px 10px;
  }
}
.contact-booking form {
  padding: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  width: 70%;
  margin: 20px auto;
  background: rgba(187, 231, 160, 0.7490196078);
}
@media (max-width: 767px) {
  .contact-booking form {
    width: 100%;
  }
}
.contact-booking form .user__details {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 12px 0;
  flex-direction: row;
  justify-content: space-between;
}
.contact-booking form .user__details .input__box {
  width: 50%;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .contact-booking form .user__details .input__box {
    width: 100%;
  }
}
.contact-booking form .user__details .input__box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  margin-left: 10px;
}
.contact-booking form .user__details .input__box input {
  height: 40px;
  width: 90%;
  outline: none;
  padding: 0px 5px 0px 10px;
  font-size: 16px;
  border: none;
  transition: all 0.3s ease;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .contact-booking form .user__details .input__box input {
    width: 100%;
  }
}
.contact-booking form .gender__details .gender__title {
  font-size: 17px;
  font-weight: 500;
  margin-left: 10px;
}
.contact-booking form .gender__details .category {
  display: flex;
  width: 80%;
  margin: 15px 0;
  justify-content: flex-start;
}
.contact-booking form .gender__details .category label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.contact-booking form .gender__details .dot {
  height: 18px;
  width: 18px;
  background: #4e4c4c;
  border-radius: 50%;
  margin: 5px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
.contact-booking form .gender__details .dot .gender {
  font-size: 14px;
}
.contact-booking .button {
  height: 45px;
  margin-left: 20px;
}
.contact-booking .button .btn-conf {
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  background-color: black;
  transition: all 0.3s ease;
  padding: 10px 25px;
}
.contact-booking .button .button .btn-conf :hover {
  background: rgb(63, 196, 6);
}
.contact-booking form .button input {
  padding: 10px 25px;
  margin-left: 20px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  background: rgb(63, 196, 6);
}
@media (max-width: 767px) {
  .contact-booking form .button input {
    padding: 15px 30px;
    font-size: 11px;
  }
}
.contact-booking form .button input:hover {
  background-color: black;
  color: white;
}

.button input {
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  background-color: #558e0a;
  transition: all 0.3s ease;
  padding: 10px 35px;
  cursor: pointer;
}

.button input:hover {
  background-color: black;
}

::placeholder {
  color: #837c7c;
  font-size: 13px;
}

.user__details .input__box input:focus,
.user__details .input__box input:valid {
  border-color: var(#9b59b6);
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three {
  border-color: #d9d9d9;
  background: #9b59b6;
}

form input[type=radio] {
  display: none;
}

@media (max-width: 767px) {
  .contact-booking {
    padding: 20px;
  }
  .container form .user__details {
    flex-direction: column;
  }
  form .user__details .input__box {
    width: 100%;
    margin-bottom: 15px;
  }
  .contact-booking form .user__details {
    display: block;
    flex-direction: column;
  }
  form .gender__details .category {
    width: 100%;
  }
}
.body_inner {
  background-image: url(../assets/images/banner3.jpg);
  background-size: 100%;
  background-repeat: repeat;
  background-position: center center;
}
@media (max-width: 767px) {
  .body_inner {
    background-repeat: no-repeat;
    height: 410px;
    background-size: cover;
    padding: 10px;
  }
}
@media (max-width: 425px) {
  .body_inner {
    background-repeat: no-repeat;
    height: 340px;
    background-size: cover;
  }
}
.body_inner header .top-navbar {
  padding: 18px;
}
@media (max-width: 992px) {
  .body_inner header .top-navbar {
    padding: 10px 0px;
  }
}
.body_inner header .top-navbar .top-navbar-links {
  justify-content: end;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .body_inner header .top-navbar .top-navbar-links {
    font-size: 10px;
    justify-content: space-between;
  }
}
@media (max-width: 425px) {
  .body_inner header .top-navbar .top-navbar-links {
    flex-direction: column-reverse;
  }
}
.body_inner header .top-navbar .top-navbar-links li {
  margin-left: 15px;
}
@media (max-width: 992px) {
  .body_inner header .top-navbar .top-navbar-links li {
    margin-top: 10px;
  }
}
.body_inner header .top-navbar .top-navbar-links li i {
  color: #558e0a;
}
.body_inner header .top-navbar .top-navbar-links li .printTime {
  margin: 0px 10px;
  font-family: "Roboto Slab", sans-serif;
}
.body_inner header .top-navbar .top-navbar-links li .printDate {
  margin: 0px 10px;
}
.body_inner header .top-navbar .top-navbar-links li .printDay {
  margin: 0px 10px;
}
@media (max-width: 992px) {
  .body_inner header .main-navbar {
    padding: 5px 10px;
  }
}
@media (max-width: 425px) {
  .body_inner header .main-navbar {
    padding: 0px;
  }
}
.body_inner header .main-navbar .inner-navbar {
  align-items: center;
  justify-content: space-between;
}
.body_inner header .main-navbar .inner-navbar .web-logo .web-logo-img {
  width: 250px;
  height: 60px;
}
@media (max-width: 992px) {
  .body_inner header .main-navbar .inner-navbar .web-logo .web-logo-img {
    align-self: flex-start;
  }
}
@media (max-width: 767px) {
  .body_inner header .main-navbar .inner-navbar .web-logo .web-logo-img {
    width: 180px;
    height: 40px;
  }
}
@media (max-width: 425px) {
  .body_inner header .main-navbar .inner-navbar .web-logo .web-logo-img {
    width: 100px;
    height: 40px;
  }
}
@media (max-width: 992px) {
  .body_inner header .main-navbar .inner-navbar .nav-links {
    display: none;
  }
}
.body_inner header .main-navbar .inner-navbar .nav-links li {
  margin-left: 5px;
}
.body_inner header .main-navbar .inner-navbar .nav-links li a {
  font-size: 16px;
  padding: 8px;
  color: white;
}
@media (max-width: 1200px) {
  .body_inner header .main-navbar .inner-navbar .nav-links li a {
    font-size: 14px;
  }
}
.body_inner header .main-navbar .inner-navbar .nav-links li a:hover {
  background-color: #558e0a;
}
.body_inner header .main-navbar .inner-navbar .btn-ol-booking {
  color: white;
  line-height: 45px;
  text-align: center;
  border-radius: 25px;
  transition: 0.3s;
  padding: 2px 15px;
  border: 1px solid #558e0a;
}
@media (max-width: 992px) {
  .body_inner header .main-navbar .inner-navbar .btn-ol-booking {
    display: none;
  }
}
.body_inner header .main-navbar .inner-navbar .btn-ol-booking:hover {
  background-color: #558e0a;
  color: white;
}
.body_inner header .main-navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 8px 6px -6px black;
  z-index: 999;
  padding: 5px 20px;
  height: 90px;
}
@media (max-width: 992px) {
  .body_inner header .main-navbar.sticky {
    padding: 5px 10px;
  }
}
@media (max-width: 767px) {
  .body_inner header .main-navbar.sticky {
    padding: 40px 10px 10px 10px;
  }
}
.body_inner header .main-navbar.sticky .inner-navbar nav .nav-links li a {
  color: black;
  padding: 10px;
}
.body_inner header .main-navbar.sticky .inner-navbar nav .nav-links li a:hover {
  color: #fff;
}
.body_inner header .main-navbar.sticky .inner-navbar nav::before {
  content: "";
  position: absolute;
  left: 0;
}
.body_inner header .main-navbar.sticky .inner-navbar .mobile-btn-ol-booking {
  color: black;
}
.body_inner header .main-navbar.sticky .inner-navbar .mobile-btn-ol-booking:hover {
  color: white;
}
.body_inner header .main-navbar.sticky .inner-navbar .btn-ol-booking {
  color: black;
}
.body_inner header .main-navbar.sticky .responsive .hamburger-menu {
  top: 0;
}
@media (max-width: 992px) {
  .body_inner header .main-navbar.sticky .responsive .hamburger-menu {
    top: 20px;
    right: 5px;
  }
}
@media (max-width: 767px) {
  .body_inner header .main-navbar.sticky .responsive .hamburger-menu {
    top: 10px;
    right: 20px;
  }
}
.body_inner header .main-navbar.sticky .responsive .menu-bar1,
.body_inner header .main-navbar.sticky .responsive .menu-bar2,
.body_inner header .main-navbar.sticky .responsive .menu-bar3 {
  background-color: black;
}

.banner {
  position: relative;
  padding: 160px 0px 150px 0px;
}
@media (max-width: 992px) {
  .banner {
    padding: 10px 0px 10px 0px;
  }
}
@media (max-width: 767px) {
  .banner {
    padding: 50px 0px 50px 0px;
  }
}
@media (max-width: 425px) {
  .banner {
    padding: 10px 0px 10px 0px;
  }
}
.banner .inner-banner .banner-content {
  padding: 10px;
}
.banner .inner-banner .banner-content .banner-title {
  font-size: 78px;
  color: #558e0a;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  height: 130px;
}
@media (max-width: 992px) {
  .banner .inner-banner .banner-content .banner-title {
    font-size: 58px;
    height: 180px;
  }
}
@media (max-width: 767px) {
  .banner .inner-banner .banner-content .banner-title {
    font-size: 38px;
    height: 100px;
  }
}
@media (max-width: 425px) {
  .banner .inner-banner .banner-content .banner-title {
    font-size: 30px;
    height: 70px;
    margin-bottom: 10px;
  }
}
.banner .inner-banner .banner-content .banner-title .banner-title-animation {
  color: #8aec0a;
  margin: 20px 0px;
}
.banner .inner-banner .banner-content .bannerinfo {
  color: white;
  transform: scale(0.84);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@media (max-width: 425px) {
  .banner .inner-banner .banner-content .bannerinfo {
    font-size: 10px;
  }
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.banner .inner-banner .banner-content .bannerinfo .bannerinfo span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}
.banner .inner-banner .banner-content .bannerinfo .bannerinfo span:nth-child(1) {
  animation: fade-in 0.15s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  display: block;
}
.banner .inner-banner .banner-content .bannerinfo .bannerinfo span:nth-child(2) {
  animation: fade-in 2.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.about-us-link {
  padding: 50px 10px 20px 10px;
}
.about-us-link h4 {
  text-align: center;
  margin: 20px 0px;
}
.about-us-link .about-contant {
  font-size: 17px;
  text-align: justify;
}
@media (max-width: 425px) {
  .about-us-link .about-contant {
    font-size: 14px;
  }
}
.about-us-link .btn-readmore {
  width: 150px;
  height: 50px;
  margin: 20px auto;
  display: block;
  text-align: center;
  line-height: 50px;
  border-radius: 25px;
  transition: width 2s;
  box-shadow: 5px 5px 10px #888888;
  border: 1px solid rgb(224, 222, 222);
}
.about-us-link .btn-readmore:hover {
  width: 190px;
  background-image: linear-gradient(to right, #aee468, #93f106);
}

.Scheduled-info {
  padding-top: 50px;
}
@media (max-width: 425px) {
  .Scheduled-info {
    padding: 50px 10px 10px 10px;
  }
}
@media (max-width: 425px) {
  .Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item {
    width: 100%;
  }
}
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .product {
  width: 310px;
  margin: 0px auto;
  padding: 15px;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  height: 400px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 425px) {
  .Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .product {
    width: 100%;
  }
}
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .product h4 {
  font-size: 25px;
  margin-bottom: 20px;
  color: white;
}
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .product .btn-contact-us {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  transition: width 2s;
  color: white;
  background-color: #558e0a;
  padding: 10px 15px;
  font-size: 13px;
}
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .product .product-text {
  float: left;
  display: none;
  margin-bottom: 20px;
  font-weight: 900;
  line-height: 40px;
  color: black;
  padding: 10px;
}
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .product:hover .product-text {
  display: block;
  color: white;
}
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .cardone,
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .cartwo,
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .cardthree {
  background-position: top;
  background-size: cover;
}
@media (max-width: 425px) {
  .Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .cardone,
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .cartwo,
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .cardthree {
    width: 100%;
  }
}
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .cardone {
  background: linear-gradient(rgba(63, 44, 47, 0.5), rgba(44, 33, 34, 0.5)), url(../assets/images/bus.jpg) center center no-repeat;
  transition: background-color 2.5s;
}
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .cardone:hover {
  background: black;
}
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .cardtwo {
  background: linear-gradient(rgba(63, 44, 47, 0.5), rgba(44, 33, 34, 0.5)), url(../assets/images/bharatbenz-staff-bus.jpg) center center no-repeat;
  transition: background-color 2.5s;
}
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .cardtwo:hover {
  background: black;
}
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .cardthree {
  background: linear-gradient(rgba(63, 44, 47, 0.5), rgba(44, 33, 34, 0.5)), url(../assets/images/yellowtaxi.jpg) center center no-repeat;
  transition: background-color 2.5s;
}
.Scheduled-info .Scheduled-info-cards .Scheduled-info-carousel .item .cardthree:hover {
  background: black;
}

footer {
  margin-top: 50px;
  padding: 50px 10px 10px 10px;
  background-color: black;
  color: white;
}
footer .inner-footer .top-footer-links {
  margin-bottom: 10px;
}
footer .inner-footer .top-footer-links ul {
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  footer .inner-footer .top-footer-links ul {
    flex-direction: column;
  }
}
footer .inner-footer .top-footer-links ul li {
  margin-bottom: 10px;
}
footer .inner-footer .top-footer-links ul li a {
  font-size: 13px;
}
footer .inner-footer .top-footer-links ul li i {
  margin-right: 10px;
  font-size: 13px;
}
footer .inner-footer .top-footer-links ul li p {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  footer .inner-footer .top-footer-links ul li p {
    margin-bottom: 30px;
  }
}
footer .inner-footer .top-footer-links ul li img {
  width: 310px;
}
footer .inner-footer .bottom-footer-links {
  padding-top: 40px;
  border-top: 1px solid gray;
}
footer .inner-footer .bottom-footer-links p {
  text-align: center;
}

@media (max-width: 992px) {
  .header-for-mobile {
    display: block;
    z-index: 999;
    background-color: black;
    position: static;
    right: 0px;
    left: 0px;
    height: 100vh;
    padding: 2rem;
    width: 100%;
  }
  .header-for-mobile button {
    width: 150px;
    height: 28px;
    margin-top: 30px;
    background-color: white;
    color: black;
  }
  .header-for-mobile li {
    margin-top: 20px;
  }
  .header-for-mobile li a {
    margin-top: 15px;
    color: white;
    font-size: 18px;
  }
  .bars {
    display: flex;
    font-size: 28px;
    margin-left: 10px;
  }
  .bars .mobile-btn-ol-booking {
    display: none;
  }
}
@media (max-width: 992px) and (max-width: 992px) {
  .bars .mobile-btn-ol-booking {
    display: block;
    text-align: center;
    border-radius: 25px;
    transition: 0.3s;
    padding: 12px 12px;
    border: 1px solid #558e0a;
    font-size: 10px;
    margin-right: 10px;
    color: white;
  }
}
@media (max-width: 992px) and (max-width: 425px) {
  .bars .mobile-btn-ol-booking {
    font-size: 9px;
  }
}
@media (max-width: 992px) and (max-width: 375px) {
  .bars .mobile-btn-ol-booking {
    margin-right: 5px;
  }
}
@media (max-width: 992px) {
  .bars .mobile-btn-ol-booking:hover {
    background-color: #558e0a;
  }
}
@media (max-width: 992px) {
  .bars a i {
    color: white;
  }
}
@media (max-width: 992px) {
  .nav-list li {
    display: none;
  }
}
.login-wrap {
  position: absolute;
  left: 50%;
  margin-left: -33px;
  top: 50%;
  margin-top: -30px;
}

.login-form {
  position: absolute;
  top: 1%;
  left: 50%;
  margin-left: -225px;
  width: 450px;
  visibility: hidden;
  opacity: 0;
}

.login-form:target {
  top: 20%;
  visibility: visible;
  opacity: 1;
  transition: all 1s ease;
}

.responsive {
  margin: 0px;
  /***********************/
  /* NAVIGATION MENU */
  /***********************/
  /* OVERLAY */
  /* NAV MENU ITEMS */
  /***********************/
  /* NAV SLIDE IN ANIMATION */
  /***********************/
  /***********************/
  /* NAV SLIDE OUT ANIMATION */
  /***********************/
  /***********************/
  /* HAMBURGER MENU ANIMATION */
  /***********************/
  /* ROTATE FIRST BAR */
  /* FADE OUT SECOND BAR */
  /* ROTATE LAST BAR */
  /* BELOW 832px (Tablets) */
  /* BELOW 600px (Phones) */
}
.responsive .center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.responsive .overlay {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.responsive .overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}
.responsive .overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}
.responsive nav ul {
  height: 100vh;
  list-style: none;
}
.responsive nav ul li {
  height: 20%;
}
.responsive nav li:nth-of-type(1) {
  background-color: #76cc07;
}
.responsive nav li:nth-of-type(2) {
  background-color: #6daf16;
  text-align: center;
}
.responsive nav li:nth-of-type(3) {
  background-color: #4e8605;
}
.responsive nav li:nth-of-type(4) {
  background-color: #447406;
}
.responsive nav li:nth-of-type(5) {
  background-color: #386102;
}
.responsive nav li a {
  font-size: 1.3rem;
  text-align: center;
  color: white;
  line-height: 110px;
}
.responsive nav li a:hover,
.responsive nav li a:active {
  transform: scale(1.1);
}
.responsive nav li a:hover:after {
  content: "🠒";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin-left: 1rem;
}
.responsive .slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}
.responsive .slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}
.responsive .slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}
.responsive .slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}
.responsive .slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.responsive .slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}
.responsive .slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}
.responsive .slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}
.responsive .slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}
.responsive .slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}
@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.responsive .hamburger-menu {
  position: fixed;
  top: 1.1rem;
  z-index: 999;
  cursor: pointer;
}
@media (max-width: 992px) {
  .responsive .hamburger-menu {
    top: 2.5rem;
    right: 5rem;
  }
}
@media (max-width: 767px) {
  .responsive .hamburger-menu {
    top: 2.5rem;
    right: 1rem;
  }
}
.responsive .menu-bar1,
.responsive .menu-bar2,
.responsive .menu-bar3 {
  width: 2rem;
  height: 0.1rem;
  background-color: white;
  margin: 0.5rem 0;
  transition: 0.4s;
}
.responsive .menu-bar2 {
  width: 2rem;
  margin-left: auto;
  z-index: 999;
}
.responsive .active .menu-bar1 {
  transform: rotate(-45deg) translate(-1px, 3px);
  z-index: 999;
}
.responsive .active .menu-bar2 {
  opacity: 0;
}
.responsive .active .menu-bar3 {
  /* transform: rotate(45deg) translate(-6px, -8px); */
  transform: rotate(45deg) translate(-0.6rem, -0.8rem);
  z-index: 999;
}
@media (max-width: 52em) {
  .responsive html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}
@media (max-width: 589px) {
  .responsive .hamburger-menu {
    top: 2.9rem;
    right: 0.4rem;
    color: white;
  }
}
@media (max-width: 525px) {
  .responsive .hamburger-menu {
    top: 0.9rem;
    right: 0.4rem;
    color: white;
  }
}/*# sourceMappingURL=style.css.map */