@import'./helpers/helpers-dir';

.body_inner {
    background-image: url(../assets/images/banner3.jpg);
    background-size: 100%;
    background-repeat: repeat;
    background-position: center center;
   

    header {

        .top-navbar {
            padding: 18px;

            @include breakpoint(md) {
                padding: 10px 0px;
            }

            .top-navbar-links {
                justify-content: end;
                font-size: 13px;
                display: flex;
                flex-direction: row;
                @include breakpoint(md) {
                    font-size: 10px;
                    justify-content: space-between;
                }
                @include breakpoint(xs) {
                  flex-direction: column-reverse;
                 
                }

                li {
                    margin-left: 15px;
                    @include breakpoint(xs) {
                        margin-top: 10px;
                       
                      }
                    i {
                        color: #558e0a;
                    }
                    
        
                        .printTime {
                            margin: 0px 10px;
                            font-family: "Roboto Slab", sans-serif;
    
                        }
                        .printDate{
                            margin: 0px 10px;
                        }
                        .printDay{
                            margin: 0px 10px;
                        }
                    
                    
                }
            }

        }

        .main-navbar {

            @include breakpoint(md) {
                padding: 5px 10px;
            }

            .inner-navbar {
                align-items: center;
                justify-content: space-between;

                .web-logo {
                    .web-logo-img {
                        width: 250px;
                        height: 60px;

                        @include breakpoint(md) {
                            align-self: flex-start;
                        }

                        @include breakpoint(sm) {
                            width: 180px;
                            height: 40px;
                        }


                    }

                }

                .nav-links {
                    @include breakpoint(md) {
                        display: none;
                    }

                    li {
                        margin-left: 5px;

                        a {
                            font-size: 16px;
                            padding: 8px;
                            color: white;

                            @include breakpoint(lg) {
                                font-size: 14px;

                            }

                            &:hover {
                                background-color: $main_color;
                            }
                        }

                    }


                }

                .btn-ol-booking {
                    width: 170px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    background-color: $main_color;
                    border-radius: 25px;
                    transition: 0.3s;

                    @include breakpoint(md) {
                        margin-left: 200px;
                    }

                    @include breakpoint(sm) {
                        display: none;
                    }

                    &:hover {
                        background-image: linear-gradient(to right, #aee468, #93f106);
                    }
                }

            }
            &.sticky {

                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                background-color: white;
                box-shadow: 0 8px 6px -6px black;
                z-index: 999;
                padding: 5px 20px;
                height: 100px;
    
                .inner-navbar {
                    nav {
                        .nav-links {
                            li {
                                a {
                                    color: black;
                                    padding: 10px;
    
                                    &:hover {
                                        color: #fff;
                                    }
                                }
    
                            }
                        }
    
                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                        }
                    }
                    .bars{
                        color: black;
                    }

                }
    
    
            }
        }

       

    }


}

.banner {
    position: relative;
    padding: 160px 0px 150px 0px;

    @include breakpoint(md) {
        padding: 120px 0px 120px 0px;
    }

    @include breakpoint(sm) {
        padding: 80px 0px 50px 0px;
    }
    @include breakpoint(xs) {
        padding: 10px 0px 10px 0px;
    }
   
    .inner-banner {

        .banner-content {
            padding: 10px;

            .banner-title {
                font-size: 78px;
                color: #558e0a;
                font-family: "Roboto Slab", sans-serif;
                font-weight: 700;

                @include breakpoint(md) {
                    font-size: 58px;
                }

                @include breakpoint(xs) {
                    font-size: 30px;
                }

                .banner-title-animation {
                    color: #8aec0a;
                    margin: 20px 0px;

                }
            }


            .bannerinfo {
                color: white;
                transform: scale(0.84);
                animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);

                @keyframes scale {
                    100% {
                        transform: scale(1);
                    }
                }

                .bannerinfo span {
                    display: inline-block;
                    opacity: 0;
                    filter: blur(4px);
                   
                }

                .bannerinfo span:nth-child(1) {
                    animation: fade-in 0.15s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
                    display: block;
                }

                .bannerinfo span:nth-child(2) {
                    animation: fade-in 2.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
                }

                @keyframes fade-in {
                    100% {
                        opacity: 1;
                        filter: blur(0);
                    }
                }

            }

        }

       
    }
}



.about-us-link {
    padding: 50px 10px 20px 10px;

    h4 {
        text-align: center;
        margin: 20px 0px;
    }

    .about-contant {
        font-size: 17px;
        text-align: justify;
        @include breakpoint(xs){
            font-size: 14px;
        }
    }

    .btn-readmore {
        width: 150px;
        height: 50px;
        margin: 20px auto;
        display: block;
        text-align: center;
        line-height: 50px;
        border-radius: 25px;
        transition: width 2s;
        box-shadow: 5px 5px 10px #888888;
        border: 1px solid rgb(224, 222, 222);

        &:hover {
            width: 190px;
            background-image: linear-gradient(to right, #aee468, #93f106);
        }
    }
}

.Scheduled-info {
    padding-top: 50px;

    .Scheduled-info-cards {
        .Scheduled-info-carousel {
            .item {
                // border: 3px solid red;
                @include breakpoint(xs) {
                    width: 100%;
                    
                }
                .product {
                    width: 310px;
                    margin: 0px auto;
                    padding: 15px;
                    border: none;
                    border-radius: 5px;
                    overflow: hidden;
                    cursor: pointer;
                    height: 400px;
                    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

                    @include breakpoint(xs) {
                        width: 100%;
                        
                    }

                    h4 {
                        font-size: 25px;
                        margin-bottom: 20px;
                        color: white;
                    }

                    .btn-contact-us {
                        width: 150px;
                        height: 50px;
                        border-radius: 25px;
                        transition: width 2s;
                        color: white;
                        background-color: #558e0a;
                        padding: 10px 15px;
                        font-size: 13px;
                    }

                    .product-text {
                        float: left;
                        display: none;
                        margin-bottom: 20px;
                        font-weight: 900;
                        line-height: 40px;
                        color: black;
                        padding: 10px;
                    }

                }

                .product:hover .product-text {
                    display: block;
                    color: white;



                }

                .cardone,
                .cartwo,
                .cardthree {
                    background-position: top;
                    background-size: cover;

                    @include breakpoint(xs) {
                        width: 100%;
                    }
                }

                .cardone {

                    background: linear-gradient(rgba(63, 44, 47, 0.5), rgba(44, 33, 34, 0.5)), url(../assets/images/bus.jpg)center center no-repeat;
                    transition: background-color 1.2s;

                    &:hover {
                        background:black;
                        
                    }

                }

                .cardtwo {
                    background: linear-gradient(rgba(63, 44, 47, 0.5), rgba(44, 33, 34, 0.5)),
                        url(../assets/images/bharatbenz-staff-bus.jpg)center center no-repeat;
                    transition: background-color 1s;

                    &:hover {
                        background:black;
                    }


                }

                .cardthree {
                    background: linear-gradient(rgba(63, 44, 47, 0.5), rgba(44, 33, 34, 0.5)),
                        url(../assets/images/yellowtaxi.jpg)center center no-repeat;
                    transition: background-color 1s;

                    &:hover {
                        background:black;
                    }


                }

            }
        }
    }
}

footer {
    margin-top: 50px;
    padding: 50px 0px 0px 0px;
    background-color: black;
    color: white;

    .inner-footer {
        .top-footer-links {
            margin-bottom: 10px;

            ul {
                justify-content: space-between;
                align-items: center;

                @include breakpoint(sm) {
                    flex-direction: column;
                }

                li {

                    i {
                        margin-right: 10px;
                    }

                    p {
                        margin-bottom: 10px;

                        @include breakpoint(sm) {
                            margin-bottom: 30px;
                        }
                    }
                    img{
                        width: 310px;
                    }
                }

            }
        }

        .bottom-footer-links {
            padding-top: 40px;
            border-top: 1px solid gray;

            p {
                text-align: center;
            }
        }
    }


}

@include breakpoint(md) {
    .header-for-mobile {
        display: block;
        z-index: 1;
        background-color: black;
        position: static;
        right: 0px;
        left: 0px;
        height: 100vh;
        padding: 2rem;
    }

    .header-for-mobile button {
        width: 150px;
        height: 28px;
        margin-top: 30px;
        background-color: white;
        color: black;
    }

    .header-for-mobile li {
        margin-top: 20px;
    }

    .header-for-mobile li a {
        margin-top: 15px;
        color: white;
        font-size: 18px;
    }

    .bars {
        display: block;
        font-size: 28px;
        margin-left: 10px;
    }

    .nav-list li {
        display: none;
    }

}

.login-wrap {
    position: absolute;
    left: 50%;
    margin-left: -33px;
    top: 50%;
    margin-top: -30px;
}

.login-form {
    position: absolute;
    top: 1%;
    left: 50%;
    margin-left: -225px;
    width: 450px;
    visibility: hidden;
    opacity: 0;
}

.login-form:target {
    top: 20%;
    visibility: visible;
    opacity: 1;
    transition: all 1s ease;
}

//   .header-for-mobile-app{
//     ul{
//         li{
//             display: block;
//         }
//     }
//   }