@import'./helpers/helpers-dir';

.body_inner {
    background-image: url(../assets/images/banner3.jpg);
    background-size: 100%;
    background-repeat: repeat;
    background-position: center center;

    @include breakpoint(sm) {
        background-repeat: no-repeat;
        height: 410px;
        background-size: cover;
        padding: 10px;
    }

    @include breakpoint(xs) {
        background-repeat: no-repeat;
        height: 340px;
        background-size: cover;
    }

    header {

        .top-navbar {
            padding: 18px;

            @include breakpoint(md) {
                padding: 10px 0px;
            }

            .top-navbar-links {
                justify-content: end;
                font-size: 13px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                @include breakpoint(md) {
                    font-size: 10px;
                    justify-content: space-between;
                }

                @include breakpoint(xs) {
                    flex-direction: column-reverse;

                }

                li {
                    margin-left: 15px;

                    @include breakpoint(md) {
                        margin-top: 10px;

                    }

                    i {
                        color: #558e0a;
                    }


                    .printTime {
                        margin: 0px 10px;
                        font-family: "Roboto Slab", sans-serif;

                    }

                    .printDate {
                        margin: 0px 10px;
                    }

                    .printDay {
                        margin: 0px 10px;
                    }


                }
            }

        }

        .main-navbar {

            @include breakpoint(md) {
                padding: 5px 10px;
            }
            @include breakpoint(xs) {
                padding:0px;
                // padding-top:5px;
               
            }
            .inner-navbar {
                align-items: center;
                justify-content: space-between;

                .web-logo {
                    .web-logo-img {
                        width: 250px;
                        height: 60px;

                        @include breakpoint(md) {
                            align-self: flex-start;
                        }

                        @include breakpoint(sm) {
                            width: 180px;
                            height: 40px;
                        }

                        @include breakpoint(xs) {
                            width: 100px;
                            height: 40px;
                        }
                    }

                }

                .nav-links {
                    @include breakpoint(md) {
                        display: none;
                    }

                    li {
                        margin-left: 5px;

                        a {
                            font-size: 16px;
                            padding: 8px;
                            color: white;

                            @include breakpoint(lg) {
                                font-size: 14px;

                            }

                            &:hover {
                                background-color: $main_color;
                            }
                        }

                    }


                }

                .btn-ol-booking {
                    color: white;
                    line-height: 45px;
                    text-align: center;
                    border-radius: 25px;
                    transition: 0.3s;
                    padding: 2px 15px;
                    border: 1px solid $main_color;

                    // @include breakpoint(md) {
                      
                    //     line-height: normal;
                    //     transition: 0.3s;
                    //     padding: 12px 12px;
                    //     border: 1px solid $main_color;
                    //     font-size: 10px;
                    // }

                    @include breakpoint(md) {
                        display: none;
                    }

                    &:hover {
                        background-color: $main_color;
                        color: white;
                    }
                }

            }

            &.sticky {

                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                background-color: white;
                box-shadow: 0 8px 6px -6px black;
                z-index: 999;
                padding: 5px 20px;
                height: 90px;
               
                @include breakpoint(md) {
                    padding: 5px 10px;
                    // padding: 40px 10px 10px 10px;
                }
                @include breakpoint(sm) {
                    // padding: 5px 10px;
                    padding: 40px 10px 10px 10px;
                }
                .inner-navbar {
                    nav {
                        .nav-links {
                            li {
                                a {
                                    color: black;
                                    padding: 10px;

                                    &:hover {
                                        color: #fff;
                                    }
                                }

                            }
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                        }
                    }

                    // .bars {
                       
                    //     a{
                    //         i{
                    //             color: black;
                    //         }
                    //     }
                    //     .mobile-btn-ol-booking{
                    //         color: black;
                    //     }
                       
                    //     .responsive {
                    //         border: 1px solid red;
                    //     }
                        
                    // }
                    .mobile-btn-ol-booking{
                        color: black; 
                        &:hover{
                            color: white;
                        }
                    }
                    .btn-ol-booking{
                        color: black;
                    }

                }
                .responsive .hamburger-menu{
                    top:0;
                    @include breakpoint(md){
                        top: 20px;
                        right: 5px;
                    }
                    @include breakpoint(sm){
                        top: 10px;
                        right: 20px;
                    }
                }
                .responsive .menu-bar1, .responsive .menu-bar2, .responsive .menu-bar3{
                    background-color: black;
                   
                }


            }
        }



    }


}

.banner {
    position: relative;
    padding: 160px 0px 150px 0px;

    @include breakpoint(md) {
        padding: 10px 0px 10px 0px;
    }

    @include breakpoint(sm) {
        padding: 50px 0px 50px 0px;
    }

    @include breakpoint(xs) {
        padding: 10px 0px 10px 0px;
    }

    .inner-banner {

        .banner-content {
            padding: 10px;

            .banner-title {
                font-size: 78px;
                color: #558e0a;
                font-family: "Roboto Slab", sans-serif;
                font-weight: 700;
                height:130px;
                @include breakpoint(md) {
                    font-size: 58px;
                    height: 180px;
                }

                @include breakpoint(sm) {
                    font-size: 38px;
                    height: 100px;
                }

                @include breakpoint(xs) {
                    font-size:30px;
                    height: 70px;
                    margin-bottom: 10px;
                }

                .banner-title-animation {
                    color: #8aec0a;
                    margin: 20px 0px;

                }
            }


            .bannerinfo {
                color: white;
                transform: scale(0.84);
                animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
                @include breakpoint(xs) {
                    font-size:10px;
                   
                }
                @keyframes scale {
                    100% {
                        transform: scale(1);
                    }
                }

                .bannerinfo span {
                    display: inline-block;
                    opacity: 0;
                    filter: blur(4px);

                }

                .bannerinfo span:nth-child(1) {
                    animation: fade-in 0.15s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
                    display: block;
                }

                .bannerinfo span:nth-child(2) {
                    animation: fade-in 2.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
                }

                @keyframes fade-in {
                    100% {
                        opacity: 1;
                        filter: blur(0);
                    }
                }

            }

        }


    }
}



.about-us-link {
    padding: 50px 10px 20px 10px;
   
    h4 {
        text-align: center;
        margin: 20px 0px;
    }

    .about-contant {
        font-size: 17px;
        text-align: justify;

        @include breakpoint(xs) {
            font-size: 14px;
        }
    }

    .btn-readmore {
        width: 150px;
        height: 50px;
        margin: 20px auto;
        display: block;
        text-align: center;
        line-height: 50px;
        border-radius: 25px;
        transition: width 2s;
        box-shadow: 5px 5px 10px #888888;
        border: 1px solid rgb(224, 222, 222);

        &:hover {
            width: 190px;
            background-image: linear-gradient(to right, #aee468, #93f106);
        }
    }
}

.Scheduled-info {
    padding-top: 50px;
    @include breakpoint(xs) {
        padding: 50px 10px 10px 10px;
    }
    .Scheduled-info-cards {
        .Scheduled-info-carousel {
            .item {

                // border: 3px solid red;
                @include breakpoint(xs) {
                    width: 100%;

                }

                .product {
                    width: 310px;
                    margin: 0px auto;
                    padding: 15px;
                    border: none;
                    border-radius: 5px;
                    overflow: hidden;
                    cursor: pointer;
                    height: 400px;
                    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

                    @include breakpoint(xs) {
                        width: 100%;

                    }

                    h4 {
                        font-size: 25px;
                        margin-bottom: 20px;
                        color: white;
                    }

                    .btn-contact-us {
                        width: 150px;
                        height: 50px;
                        border-radius: 25px;
                        transition: width 2s;
                        color: white;
                        background-color: #558e0a;
                        padding: 10px 15px;
                        font-size: 13px;
                    }

                    .product-text {
                        float: left;
                        display: none;
                        margin-bottom: 20px;
                        font-weight: 900;
                        line-height: 40px;
                        color: black;
                        padding: 10px;
                    }

                }

                .product:hover .product-text {
                    display: block;
                    color: white;



                }

                .cardone,
                .cartwo,
                .cardthree {
                    background-position: top;
                    background-size: cover;

                    @include breakpoint(xs) {
                        width: 100%;
                    }
                }

                .cardone {

                    background: linear-gradient(rgba(63, 44, 47, 0.5), rgba(44, 33, 34, 0.5)), url(../assets/images/bus.jpg)center center no-repeat;
                    transition: background-color 1.2s;

                    &:hover {
                        background: black;

                    }

                }

                .cardtwo {
                    background: linear-gradient(rgba(63, 44, 47, 0.5), rgba(44, 33, 34, 0.5)),
                        url(../assets/images/bharatbenz-staff-bus.jpg)center center no-repeat;
                    transition: background-color 1s;

                    &:hover {
                        background: black;
                    }


                }

                .cardthree {
                    background: linear-gradient(rgba(63, 44, 47, 0.5), rgba(44, 33, 34, 0.5)),
                        url(../assets/images/yellowtaxi.jpg)center center no-repeat;
                    transition: background-color 1s;

                    &:hover {
                        background: black;
                    }


                }

            }
        }
    }
}

footer {
    margin-top: 50px;
    padding: 50px 10px 10px 10px;
    background-color: black;
    color: white;

    .inner-footer {
        .top-footer-links {
            margin-bottom: 10px;

            ul {
                justify-content: space-between;
                align-items: center;
                
                @include breakpoint(sm) {
                    flex-direction: column;
                }

                li {
                    margin-bottom: 10px;
                    a{
                        font-size: 13px;
                    }
                    i {
                        margin-right: 10px;
                        font-size: 13px;
                    }

                    p {
                        margin-bottom: 10px;

                        @include breakpoint(sm) {
                            margin-bottom: 30px;
                        }
                    }

                    img {
                        width: 310px;
                    }
                  
                      
                    
                }

            }
        }

        .bottom-footer-links {
            padding-top: 40px;
            border-top: 1px solid gray;

            p {
                text-align: center;
            }
        }
    }


}

@include breakpoint(md) {
    .header-for-mobile {
        display: block;
        z-index: 999;
        background-color: black;
        position: static;
        right: 0px;
        left: 0px;
        height: 100vh;
        padding: 2rem;
        width: 100%;
    }

    .header-for-mobile button {
        width: 150px;
        height: 28px;
        margin-top: 30px;
        background-color: white;
        color: black;
    }

    .header-for-mobile li {
        margin-top: 20px;
    }

    .header-for-mobile li a {
        margin-top: 15px;
        color: white;
        font-size: 18px;
    }

    .bars {
        // display: block;
        display: flex;
        font-size: 28px;
        margin-left: 10px;
        .mobile-btn-ol-booking{
            display: none;

            @include breakpoint(md) {
                display: block;
                text-align: center;
                border-radius: 25px;
                transition: 0.3s;
                padding: 12px 12px;
                border: 1px solid $main_color;
                font-size: 10px;
                margin-right: 10px;
                color: white;
            }
            @include breakpoint(xs) {
                font-size: 9px;
            }
            @include breakpoint(xxs) {
                
                margin-right:5px;
            }
            &:hover {
                background-color: $main_color;
                
            }

        }
        a{
            i{
                color: white;
            }
        }

    }

    .nav-list li {
        display: none;
    }

}

.login-wrap {
    position: absolute;
    left: 50%;
    margin-left: -33px;
    top: 50%;
    margin-top: -30px;
}

.login-form {
    position: absolute;
    top: 1%;
    left: 50%;
    margin-left: -225px;
    width: 450px;
    visibility: hidden;
    opacity: 0;
}

.login-form:target {
    top: 20%;
    visibility: visible;
    opacity: 1;
    transition: all 1s ease;
}


.responsive {
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      /***********************/
      /* NAVIGATION MENU */
      /***********************/
      
      /* OVERLAY */
      .overlay {
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
      }
      
      .overlay-slide-right {
        transition: all 0.4s ease-in-out;
        transform: translateX(0);
      }
      
      .overlay-slide-left {
        transition: all 0.8s ease-in-out;
        transform: translateX(-100vw);
      }
      
      /* NAV MENU ITEMS */
      nav ul {
        height: 100vh;
        list-style: none;
      }
      
      nav ul li {
        height: 20%;
      }
      
      nav li:nth-of-type(1) {
       
        background-color: #76cc07;
       
      }
      
      nav li:nth-of-type(2) {
       
        background-color: #6daf16;
       
        text-align: center;
      }
      
      nav li:nth-of-type(3) {
       
        background-color: #4e8605;
        

      }
      
      nav li:nth-of-type(4) {
      
        background-color: #447406;
       
      }
      
      nav li:nth-of-type(5) {
       
        background-color: #386102;
        
      }
      
      nav li a {
        font-size: 1.3rem;
        text-align: center;
        color: white;
        line-height: 110px;
      }
      
      nav li a:hover,
      nav li a:active {
        transform: scale(1.1);
      }
      
      nav li a:hover:after {
        content: "🠒";
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        margin-left: 1rem;
      }
      
      /***********************/
      /* NAV SLIDE IN ANIMATION */
      /***********************/
      
      .slide-in-1 {
        animation: slide-in 0.4s linear 0.2s both;
      }
      
      .slide-in-2 {
        animation: slide-in 0.4s linear 0.4s both;
      }
      
      .slide-in-3 {
        animation: slide-in 0.4s linear 0.6s both;
      }
      
      .slide-in-4 {
        animation: slide-in 0.4s linear 0.8s both;
      }
      
      .slide-in-5 {
        animation: slide-in 0.4s linear 1s both;
      }
      
      @keyframes slide-in {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(0);
        }
      }
      
      /***********************/
      /* NAV SLIDE OUT ANIMATION */
      /***********************/
      
      .slide-out-1 {
        animation: slide-out 0.3s linear 0.5s both;
      }
      
      .slide-out-2 {
        animation: slide-out 0.3s linear 0.4s both;
      }
      
      .slide-out-3 {
        animation: slide-out 0.3s linear 0.3s both;
      }
      
      .slide-out-4 {
        animation: slide-out 0.3s linear 0.2s both;
      }
      
      .slide-out-5 {
        animation: slide-out 0.3s linear 0.1s both;
      }
      
      @keyframes slide-out {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
      }
      
      /***********************/
      /* HAMBURGER MENU ANIMATION */
      /***********************/
      
      .hamburger-menu {
        position: fixed;
        top: 1.1rem;
        // right: 2rem;
        z-index: 999;
        cursor: pointer;
        @include breakpoint(md){
            top: 2.5rem;
            right: 5rem;
        }
        @include breakpoint(sm){
            top: 2.5rem;
            right: 1rem;
        }
  
      }
      
      .menu-bar1,
      .menu-bar2,
      .menu-bar3 {
        width: 2.5rem;
        height: 0.1rem;
        background-color:white;
        margin: 0.5rem 0;
        transition: 0.4s;
      }
      
      .menu-bar2 {
        width: 2rem;
        margin-left: auto;
        z-index: 999;
      }
      
      /* ROTATE FIRST BAR */
      .active .menu-bar1 {
        /* transform: rotate(-45deg) translate(-7px, 8px); */
        transform: rotate(-45deg) translate(-0.7rem, 0.8rem);
        z-index: 999;
      }
      
      /* FADE OUT SECOND BAR */
      .active .menu-bar2 {
        opacity: 0;
      }
      
      /* ROTATE LAST BAR */
      .active .menu-bar3 {
        /* transform: rotate(45deg) translate(-6px, -8px); */
        transform: rotate(45deg) translate(-0.6rem, -0.8rem);
        z-index: 999;
      }
      
      /***********************/
      /* SECTION */
      /***********************/
      
    //   section {
    //     width: 100%;
    //     height: 100vh;
    //     position: relative;
    //     text-transform: uppercase;
    //     letter-spacing: 0.2rem;
    //     text-align: center;
    //     color: #fff;
    //   }
      
    //   .logo {
    //     position: fixed;
    //     z-index: 2;
    //     top: 1.5rem;
    //     left: 1.5rem;
    //     font-size: 1.4rem;
    //     letter-spacing: 0.3rem;
    //   }
      
    //   .logo:hover,
    //   .logo:active {
    //     color: #fce38a;
    //   }
      
    //   h1 {
    //     font-size: 3rem;
    //     background-color: rgb(0, 0, 0, 0.6);
    //     padding: 0.5rem 1rem;
    //   }
      
    //   section#home {
    //     background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    //       url("https://images.unsplash.com/photo-1473172707857-f9e276582ab6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80")
    //         no-repeat center center / cover;
    //   }
      
    //   section#about {
    //     background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    //       url("https://images.unsplash.com/photo-1543269664-647163ef2ee4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80")
    //         no-repeat center center / cover;
    //   }
      
    //   section#skills {
    //     background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    //       url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80")
    //         no-repeat center center / cover;
    //   }
      
    //   section#projects {
    //     background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    //       url("https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2074&q=80")
    //         no-repeat center center / cover;
    //   }
      
    //   section#contact {
    //     background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    //       url("https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80")
    //         no-repeat center center / cover;
    //   }
      
      /**************************/
      /* MEDIA QUERY */
      /**************************/
      
      /* BELOW 832px (Tablets) */
      @media (max-width: 52em) {
        html {
          /* 8px / 16px = 0.5 = 50% */
          font-size: 50%;
        }
      }
      
      /* BELOW 600px (Phones) */
      @media (max-width: 589px) {
        .hamburger-menu {
          top: 2.9rem;
          right: 0.4rem;
          color: white;
        }
     
      }

         @media (max-width: 525px) {
            .hamburger-menu {
                top: 0.9rem;
                right: 0.4rem;
                color: white;
              }
         }
}