.about_tok {
    padding-top: 60px;

    h2 {
        margin: 30px 0px;
        text-align: left;
    }

    .about_info {
        font-size: 16px;
        font-weight: 300;
        margin-top: 10px;
        text-align: left;
        line-height: 22px;
        padding: 10px;
    }

    .bookin_touch {
        margin-top: 30px;

        h3 {
            color: #558e0a;
            font-size: 22px;
            font-family:400;
        }

        ul {
            margin-top: 30px;
            flex-wrap: wrap;
            row-gap: 10px;
            column-gap: 20px;

            li {
                width: 50px;
                height: 50px;
                margin-left: 20px;
                background-color: black;
                color: white;
                border-radius: 25px;
                align-items: center;
                justify-content: center;
                align-content: center;
                display: flex;
                a{
                    i{
                        font-size:25px;
                        color: white;
                    }
                }
                &:hover {
                    background-color: #558e0a;
                }
               
            }
        }

    }
}