.contact-booking {
  padding-top: 50px;

  @include breakpoint(md){
    padding: 50px 10px 10px 10px;
  }

  form {
    padding: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 70%;
    margin: 20px auto;
    background: #bbe7a0bf;
    @include breakpoint(sm){
    
      width: 100%;
    }
  }

  form .user__details {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 12px 0;
    flex-direction: row;
    justify-content: space-between;

  }

  form .user__details .input__box {
    width: calc(100% / 2 - 0px);
    margin-bottom: 15px;
  }
  .date{
    color: #837c7c;
    font-weight: 500;
  }

}




.user__details .input__box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  margin-left: 10px;
}

.user__details .input__box input {
  height: 40px;
  width: 90%;
  outline: none;
  padding: 0px 5px 0px 10px;
  font-size: 16px;
  border: none;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin-left: 10px;
  
}
::placeholder {
  color: #837c7c;
  font-size: 13px;
}
.user__details .input__box input:focus,
.user__details .input__box input:valid {
  border-color: var(#9b59b6);
}

form .gender__details .gender__title {
  font-size:17px;
  font-weight: 500;
  margin-left: 10px;
}

form .gender__details .category {
  display: flex;
  width: 80%;
  margin: 15px 0;
  justify-content: flex-start;
}

.gender__details .category label {
  display: flex;
  align-items: center;
  @include breakpoint(xs){
    font-size: 11px;
  }
}

.gender__details .category .dot {
  height: 18px;
  width: 18px;
  background: #4e4c4c;
  border-radius: 50%;
  margin: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.category .one,
#dot-2:checked~.category .two,
#dot-3:checked~.category .three {
  border-color: #d9d9d9;
  background: #9b59b6;
}

form input[type="radio"] {
  display: none;
}

.gender__details .category .dot span{
  font-size: 15px;
}
/* inside the form gender details */



/* submit button */
form .button {
  height: 45px;
  margin-left: 20px;
}



form .button .btn-conf {
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  background-color: black;
  transition: all 0.3s ease;
  padding: 10px 25px;

  @include breakpoint(sm){
    padding: 11px 15px;
    font-size: 11px;
  }
}

form .button a:hover {
  background: rgb(63, 196, 6);
}

form .button input {
  padding: 10px 25px;
  margin-left: 20px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  background: rgb(63, 196, 6);
  
  @include breakpoint(sm){
    padding: 11px 15px;
    font-size: 11px;
  }


}

form .button input:hover {
  background-color: black;
  color: white;
}

@include breakpoint(sm) {
  .contact-booking {
    padding: 20px;
  }

  form .user__details .input__box {
    width: 100%;
  }

  .contact-booking form .user__details {
    display: block;
    flex-direction: column;
  }

  form .user__details .input__box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .gender__details .category {
    width: 100%;
  }

  .container form .user__details {
    width: 250px;
    flex-direction: column;
  }

  .user__details::-webkit-scrollbar {
    width: 0;
  }

  .user__details .input__box input {
    width: 300px;
    
    @include breakpoint(sm){
      width: 250px;
    }
    @include breakpoint(xs){
      width: 230px;
    }
  }
}