.contact-booking {
  padding-top: 50px;

  @include breakpoint(md) {
    padding: 50px 10px 10px 10px;
  }

  form {
    padding: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 70%;
    margin: 20px auto;
    background: #bbe7a0bf;

    // background-color: #4e4c4c;

    @include breakpoint(sm) {

      width: 100%;
    }

    .user__details {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0 12px 0;
      flex-direction: row;
      justify-content: space-between;

      .input__box {
        width: 50%;
        margin-bottom: 15px;

        @include breakpoint(sm) {
          width: 100%;
        }

        .details {
          font-weight: 500;
          margin-bottom: 5px;
          display: block;
          margin-left: 10px;
        }

        input {
          height: 40px;
          width: 90%;
          outline: none;
          padding: 0px 5px 0px 10px;
          font-size: 16px;
          border: none;
          transition: all 0.3s ease;
          border-radius: 10px;

          @include breakpoint(sm) {
            width: 100%;
          }

        }

      }

    }

    .gender__details {
      .gender__title {
        font-size: 17px;
        font-weight: 500;
        margin-left: 10px;
      }

      .category {
        display: flex;
        width: 80%;
        margin: 15px 0;
        justify-content: flex-start;

        label {
          display: flex;
          align-items: center;
          margin-right: 10px;
}
        }

        .dot {
          height: 18px;
          width: 18px;
          background: #4e4c4c;
          border-radius: 50%;
          margin:5px;
          border: 5px solid transparent;
          transition: all 0.3s ease;

          .gender{
            font-size: 14px;
          }
        }
      }
    }

    .button {
      height: 45px;
      margin-left: 20px;

      .btn-conf {
        outline: none;
        color: #fff;
        border: none;
        font-size: 18px;
        font-weight: 500;
        border-radius: 25px;
        background-color: black;
        transition: all 0.3s ease;
        padding: 10px 25px;

      }


      .button .btn-conf :hover {
        background: rgb(63, 196, 6);
      }


    }

    form .button input {
      padding: 10px 25px;
      margin-left: 20px;
      border: none;
      border-radius: 25px;
      font-size: 18px;
      background: rgb(63, 196, 6);

      @include breakpoint(sm) {
        padding: 15px 30px;
        font-size: 11px;
      }


    }

    form .button input:hover {
      background-color: black;
      color: white;
    }

  }


  .button input {
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
    background-color:#558e0a;
    transition: all 0.3s ease;
    padding: 10px 35px;
    cursor: pointer;
 
  }

  .button input:hover{
    background-color: black;
  }







  ::placeholder {
    color: #837c7c;
    font-size: 13px;
  }

  .user__details .input__box input:focus,
  .user__details .input__box input:valid {
    border-color: var(#9b59b6);
  }

  #dot-1:checked~.category .one,
  #dot-2:checked~.category .two,
  #dot-3:checked~.category .three {
    border-color: #d9d9d9;
    background: #9b59b6;
  }

  form input[type="radio"] {
    display: none;
  }


 

  @include breakpoint(sm) {
    .contact-booking {
      padding: 20px;
    }

    .container form .user__details {
      flex-direction: column;
    }

    form .user__details .input__box {
      width: 100%;
      margin-bottom: 15px;
    }

    .contact-booking form .user__details {
      display: block;
      flex-direction: column;
    }

    form .gender__details .category {
      width: 100%;
    }

  }
