
.onlinebooking{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;


    form {
        background: #cec4c4;
        padding: 20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    form .user__details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
        flex-direction: row;

    }

    form .user__details .input__box {
        width: calc(100% / 2 - 20px);
        margin-bottom: 15px;
    }
    .user__details .input__box .details {
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
    }
    
    .user__details .input__box input {
        height: 45px;
        width: 300px;
        outline: none;
        padding-left: 15px;
        font-size: 16px;
        border: none;
        transition: all 0.3s ease;
    }
    
    .user__details .input__box input:focus,
    .user__details .input__box input:valid {
        border-color: var(#9b59b6);
    }
    
    form .gender__details .gender__title {
        font-size: 20px;
        font-weight: 500;
    }
    
    form .gender__details .category {
        display: flex;
        width: 80%;
        margin: 15px 0;
        justify-content: flex-start;
    }
    
    .gender__details .category label {
        display: flex;
        align-items: center;
      span{
        font-size: 15px;
        @include breakpoint(xs){
            font-size: 10px;
        }

      }
    }
    
    .gender__details .category .dot {
        height: 18px;
        width: 18px;
        background: #d9d9d9;
        border-radius: 50%;
        margin: 10px;
        border: 5px solid transparent;
        transition: all 0.3s ease;

       
    }
    
    #dot-1:checked~.category .one,
    #dot-2:checked~.category .two,
    #dot-3:checked~.category .three {
        border-color: #d9d9d9;
        background: #9b59b6;
        font-size: 13px;
    }
    
    form input[type="radio"] {
        display: none;
    }
    form .button {
        height: 45px;
    
    }
    
    form .button .btn-conf {
        // height: 40px;
        // width: 140px;
        outline: none;
        color: #fff;
        border: none;
        font-size: 18px;
        font-weight: 500;
        border-radius:25px;
        background-color: black;
        transition: all 0.3s ease;
        padding: 8px 18px;
    }
    
    form .button a:hover {
        background: rgb(63, 196, 6);
    }
    form .button input{
      
        padding: 8px 18px;
        margin-left: 20px;
        border: none;
        @include breakpoint (xs){
            margin-left: 5px;
        }

    }
    form .button input:hover {
        background: rgb(63, 196, 6);
      }
      .journey{
        width: 65%;
        height: 40px;
        border-radius: 10px;
        padding: 5px;
      }

}





/* inside the form gender details */



/* submit button */


@include breakpoint(sm) {
    .onlinebooking {
        padding: 0px;
    }

    // form .user__details .input__box {
    //     width: 100%;
    // }

    .onlinebooking form .user__details {
        display: block;
        flex-direction: column;
    }

    form .user__details .input__box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .gender__details .category {
        width: 100%;
    }

    .container form .user__details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user__details::-webkit-scrollbar {
        width: 0;
    }

    .user__details .input__box input {
        width: 300px;

    }
}