
.services_info {
    padding-top: 50px;
    
    @include breakpoint(sm){
      padding:50px 10px 10px 10px;
    }
    h2 {
        color: #558e0a;
        font-size: 30px;
        font-weight: 200;
        @include breakpoint(xs){
         font-size: 25px;
        }
    }

    .bus-schedule-ser {
     
        .service-content {
            font-size: 17px;
            line-height: 30px;
            padding: 30px;

            ul {
                li{
                    list-style:disc;

                    h4{
                        margin: 10px 0px;
                        @include breakpoint(xs){
                          font-size: 16px;
                         }
                    }
                }
            }

        }

         .services-img {
            width: 500px;
            height: 500px;
         }

    }
   
}
.services-accordion{
  @include breakpoint (sm){
    padding: 10px;
}
    .accordion {
        background-color:#ccc;
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size:18px;
        transition: 0.4s;
        margin: 15px 0px;
        @include breakpoint(xs){
          font-size:15px;
         }
      }
      .active, .accordion:hover {
        background-color:#558e0a;
        color: black;
      }
      
      .accordion:after {
        content: '\002B';
        color: black;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      
      }
      
      .active:after {
        content: "\2212";
        color: black;
      }
      
      .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        line-height: 18px;
      }
      
}