@import'./mixing';
@import'./variable';
@import'./common';
@import'../pages/about_us.scss';
@import'../pages/Services.scss';
@import'../pages/rate-shedules.scss';
@import'../pages/onlinebooking.scss';
@import'../pages/contact.scss';
